version: "3.8"

services:
  frontend:
    image: vishwajit29/ims-3.9:frontend
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_API_URL=http://backend:8080/api
    depends_on:
      - backend
    networks:
      - ims-network

  backend:
    image: vishwajit29/ims-3.9:backend
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATA_MONGODB_HOST=mongodb
      - SPRING_DATA_MONGODB_PORT=27017
      - SPRING_DATA_MONGODB_DATABASE=ims_db_1
      - ALLOWED_ORIGINS=https://www.vishwajit.tech,http://www.vishwajit.tech,http://localhost:3000,http://frontend:3000
    depends_on:
      - mongodb
    networks:
      - ims-network

  mongodb:
    image: mongo:5.0
    ports:
      - "27017:27017"
    volumes:
      - mongodb-data:/data/db
    networks:
      - ims-network

volumes:
  mongodb-data:

networks:
  ims-network:
    driver: bridge
